#ab{
    border:2px solid black;
    border-collapse: collapse;
}
.c{
      border : 2px solid #000000;
      text-align: center;
}

.cl{
    border : 2px solid #000000;
    padding-right: 80px;
}
div{
    border:2px solid black;
   padding-top: 30px;
   margin-bottom: 30px;
}