#outer{
     height:300px;
     width:300px;
     background-color: pink;
     color:red;
     font-size: 10px;
}
#inner{
    height:150px;
    width:150px;
    background-color: blue;
    color:green;
    font-size: 2em;;
}