#container{
    height:300px;
    width:80%;
    background-color: white;
    border:2px solid black;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 10px auto;
}
#voilet{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: violet;
    color:white;
    text-align: center;
}
#indigo{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: indigo;
     color:white;
    text-align: center;
}
#blue{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: blue;
     color:white;
    text-align: center;
}
#green{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: green;
     color:white;
    text-align: center;
}
#yellow{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: yellow;
     color:white;
    text-align: center;
}
#orange{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: orange;
     color:white;
    text-align: center;
}
#red{
     border:2px solid black;
     height:100px;
    width:100px;
    background-color: red;
     color:white;
    text-align: center;
}
h1{
    text-align: center;
}