div{
    height:400px;
    width:300px;
    color:white;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSItdzSjb5x6Ii2nykiYkB_gsjVYaW310_1ag&s");
    background-size:cover;
}